 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600@display=swap');
 :root{
    --main-color: #dd2f6e;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
}
.sidebar{
   width: 345px;
   position: fixed;
   left: 0 !important;
   top: 0 !important;
   height: 100%;   
   background: var(--main-color);
}
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}
.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}
.sidebar-menu a{
    display: block;
    color: #fff;
    font-size: 1.2rem;
}
.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}
