 :root{
    --main-color: #dd2f6e;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
}
.sidebar{
    width: 345px;
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    height: 100%;   
    /* background: var(--main-color); */
    z-index: 100;
    transition: 300ms;
}
/* .brand-logo{
    height: 24px;
    width: 24px;
} */
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
    display: flex;
}
.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;  
}
.sidebar-menu {
    margin-top: 4rem;
}
.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}
.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: var(--text-accent);
    font-size: 1.2rem;
}
.sidebar-menu a.active {
    /* background: #fff; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--accent);  
    /* border-radius: 30px 0 0 30px; */
}
.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}
#nav-toggle:checked + .sidebar{
    width: 70px;
 } 
 #nav-toggle:checked + .sidebar .sidebar-brand,
 #nav-toggle:checked + .sidebar li {
     padding-left: 1rem;
     text-align: center;
 } 
 #nav-toggle:checked + .sidebar li a{
     padding-left: 0rem;
 } 
 #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
 #nav-toggle:checked + .sidebar li a span:last-child {
     display: none !important;
 }   
 #nav-toggle {
     display: none !important;
     transition: 300ms !important;
 }
 
 #nav-toggle:checked ~ .main-dashboard{
     margin-left: 70px !important;
     width: 100%;
 } 
  
 #nav-toggle:checked ~ header{
     width: calc(100% - 70px);
     left: 70px;
 } 
#nav-toggle {
    display: none !important;
    transition: 300ms !important;
}
@media screen and (max-width: 1200px){
    .sidebar{
        width: 70px;
     } 
     .sidebar .sidebar-brand,
     .sidebar li {
         padding-left: 1rem;
         text-align: center;
     } 
    .sidebar li a{
         padding-left: 0rem;
     } 
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
         display: none !important;
     }  
    .main-dashboard{
         margin-left: 70px !important;
    } 
      
     header{
         width: calc(100% - 70px);
         left: 70px;
     } 
     /* .sidebar:hover{
        width: 345px;
        z-index: 200;
     } 
     .sidebar:hover .sidebar-brand,
     .sidebar:hover li {
         padding-left: 2rem;
         text-align: left;
     } 
    .sidebar:hover li a{
         padding-left: 1rem;
     } 
    .sidebar:hover .sidebar-brand h2 span:last-child,
    .sidebar:hover li a span:last-child {
         display: inline !important;
     }   */
}

@media screen and (max-width: 900px){
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid {
        grid-template-columns: 60% 40%;
    }
}
@media screen and (max-width: 768px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid {
        grid-template-columns: 100%;
    }
    .search-wrapper{
        display: none;
    }
    .sidebar {
        left: -100% !important;
    }
    header h2 {
        display: flex;
        align-items: center;
    }
    header h2 label {
        display: inline-block; 
        background: var(--main-color);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;  
        display: flex;
        align-items: center;
        justify-content: center; 
        text-align: center;      
    }
    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }
    header h2 {
        font-size: 1.1rem;
    }
    .main-dashboard {
        width: 100%;
        margin-left: 0rem !important;
    }
    header {
        width: 100%;
        left: 0 !important;
    }
    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }
    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left: 2rem;
        text-align: left;
    } 
    #nav-toggle:checked + .sidebar li a{
        padding-left: 1rem;
    }  
    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child {
        display: inline !important;
    }  
    #nav-toggle:checked ~ .main-dashboard {
        margin-left: 0rem !important;
    }
}
@media screen and (max-width: 560px){
    .cards {
        grid-template-columns: 100%;
    }
}
