.main-dashboard
{
    transition: 400ms !important;
    margin-left: 300px;
    width: 100%;    
}
.header_Q
{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    background: var(--primary);
    justify-content: space-between;    
    padding: 1rem 1.5rem;
    position: fixed;
    width: calc(100% - 300px) !important;
    left: 301px !important;
    top: 0;
    z-index: 100;
    transition: 500ms !important;
}
.header_W
{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    background: var(--primary);
    justify-content: space-between;    
    padding: 1rem 1.5rem;
    position: fixed;
    width: calc(100% - 70px) !important;
    left: 70px !important;
    top: 0;
    z-index: 100;
    transition: 500ms !important;
} 
header h2 
{
    color: #222;
}
header label span
{
     font-size: 1.7rem;
     padding-right: 1rem;
}
.user-wrapper 
{
    display: flex;
    justify-content: flex-end;   
    align-items: center;
}
.user-wrapper img 
{
    height: 60px;
    width: 60px;
    border-radius: 15%;
    margin-left: 1rem;
}
.user-wrapper small 
{
    display: inline-block;
    color: var(--text-grey);
    margin-bottom: 0rem !important;
}
main 
{
    margin-top: 92px;
    margin-left: 1rem;
    padding: 2rem 1.5rem;
    background: var(--primary);
    opacity: 75%;
    min-height: calc(100vh - 90px);
}
.cards 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 0rem;
}
.card-single 
{
    display: flex;
    justify-content: center;
    background: #f0f0f0;
    padding: 24px !important;
    border-radius: 16px;   
    border: #fff;
    border-width: 2px;
    border-style: solid;
    align-items: center;
} 
.recent-grid 
{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 45% 25% 25% auto;
}
.card 
{
    background: #fff !important;
    grid-row-gap: .5rem;
}
.card-header 
{
    margin-top: 1rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 0 0 0 !important;
}
.card-header button 
{
    background: #fff;
    border-radius: 10px;
    color: var(--secondary) !important;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: none;
}
.img-cstmr
{
    width: 40px;
    height: 40px;
}
.table-responsive 
{
    width: 100%;
    overflow-x: auto !important;
}
.customer 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}
.info 
{
    display: flex;
    align-items: center;
}
.info img {
    border-radius: 50% !important;
    margin-right: 1rem;
}
.contact span
{
    font-size: 1.2rem;
    display: inline-block;
    margin-right: .5rem;
    color: var(--main-color);
}
.customer .card-single 
{
   width: 293px;
   height: 104px;
}
.card-anncmnt
{
    height: 94px !important;
    width: 221px !important;
    padding: 21px !important;       
}
.card, 
.card-header{
    background-color: transparent !important;
    border: none !important;  
}
.card-body 
{
    padding: 0 !important;
}
.card-icons 
{
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}
.bi-brightness-high
{
    font-size: 1.5rem;
    padding-right: 1rem;
    height: 17.5px;
    width: 17.5px;
    color: var(--accent); 
}