:root {
    --primary-blue:  #374785;
}
.container-fluid {
    /* margin-top: 10% !important; */
    padding-top: 10%;
}

h1.main-info{
    font-family: 'Squada One';
    font-size: 4rem;
    color: var(--primary-blue);
    margin-left:  0 !important;
    letter-spacing: 0.08em;
}
p.main-info {
    color: var(--primary-blue);
}

.lp-logo-brand{
    width: 4.25rem;
}
