.lines {
    margin-left: 0% !important;
    z-index: 1;
    width: 200%;
}

.lines-bottom{
    width: 150%;
}

.dashboard-img {
    margin-top: -3.5rem;
    margin-bottom: -3.5rem;
    padding-left: 0 !important;
    justify-content: left;
}

.col-content {
    right: 80px;
}
