.login-modal-body {
    width: 40%;
    height: 45%;
    background-color: black;
    margin: auto;
    margin-top: 15%;   
    border-radius: 10px;
}

.brand-logo {
    margin-top: 5%;
    margin-left: 5%;
    width: 2.25rem;
    float: left;
}

.login-modal-close {
    float: right;
    margin-top: 5%;
    margin-right: 10px;
}

.modal-backdrop {
    background-color: red;
  }
