:root{
    --primary: #A8D0E6;
    --secondary: #374785;
    --accent: #F76C6C;
    --accent-dark: #E45B5B;
    --accent-50: #F9CDCD;
    --primary-25:#EBF4F9;
    --primary-50: #D8EAF4;
    --bg-dark: #0F1F38;
  }

.bg-logo {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    /* width: 100%; */
    height: 90vh;
}

.cta-logo {
    background-image: url('../images/CTA.png');
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 50vh;
    margin-top: -13rem;
}

