@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

:root {
    --primary-blue:  #374785;
}

.navbar{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(16px);
}

.logo-brand{
    width: 2rem;
}
nav a.navbar-brand {
    font-family: 'Squada One';
    color: var(--primary-blue) !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.btn-nav {
    margin: 0 !important;
}

