@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

.link-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

a{
    display: block;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    padding-bottom: 8px;
    text-decoration: none;
    font-weight: 800;
}

a,
a:after,
a:before {
  transition: all .3s;
}

.link-btn a{
    position: relative;
}

.link-btn a:hover:after {
    width: 100%;
}


/* Button Colors and Styles */

.dark a{
    color: var(--secondary) !important;
}

.dark a:hover{
    text-decoration: none;
    color: var(--secondary) !important;
}
.dark a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    height: 6px;
    background: var(--secondary);
}

.dark a:active{
    color: var(--primary ) !important;
}

.dark a:active:after {
    background: var(--primary);
}

.light a{
    color: var(--text-white) !important;
}

.link-shadow{
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}

.light a:hover{
    text-decoration: none;
    color: var(--primary-50) !important;
}

.light a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    height: 6px;
    text-decoration: none;
    background: var(--primary);
}

.light a:active{
    color: var(--text-white) !important;
}

.light a:active:after {
    background: var(--text-white);
}

.small-lnkbtn{
    font-size: 14px;
    line-height: 20px;
}

.large-lnkbtn{
    font-size: 18px;
    line-height: 22px;
}


